
<div class="content">
  <div class="row">
    <app-demo-portal></app-demo-portal>
    <kt-demo-portal></kt-demo-portal>
  </div>
  <div class="row">
    <nz-table >
      <thead>
        <th>{{ 'common.index' | translate }}</th>
        <th>{{ 'model.user.username' | translate }}</th>
        <th>{{ 'model.user.email' | translate }}</th>
      </thead>
      <tbody>
        <td>1</td>
        <td>john</td>
        <td>john@gmail.com</td>
      </tbody>
    </nz-table>


    <button ktDemoMenuTrigger [appDemoMenuTrigger]="'xxx'" (click)="toggleButton()">Toggle menu</button>
  </div>
</div>