fasdasfasdf

<div #domTemplate>This is a dom</div>
<ng-template #template>This is a template</ng-template>


Container goes here:
<div style="width: 500px; height: 200px; border: 1px black solid;">
  <ng-container *ngIf="selectedPortal" [cdkPortalOutlet]="selectedPortal" (attached)="onPortalAttached($event)"></ng-container>
</div>

<button (click)="selectedPortal = domPortal">Render dom in portal outlet</button>
<button (click)="selectedPortal = templatePortal1">Render template in portal outlet</button>
<button (click)="selectedPortal = component1Portal">Render component in portal</button>
<button (click)="selectedPortal = declarativePortal">Render self-rendered template portal in portal outlet</button>
<button (click)="selectedPortal = declarativePortal2">Render self-rendered component portal in portal outlet</button>

<ng-template #noData></ng-template>
<ng-template #templateData1>1</ng-template>


<ng-template cdkPortal #declarativePortal="cdkPortal" let-title="title">zzz
  <h1>This is a declaratively-created template portal with title: {{ title }}</h1>xxx
</ng-template>

<ng-template cdkPortal #declarativePortal2="cdkPortal">
  <app-hello-world [greetingMessage]="'This is a declaratively-created component portal'"></app-hello-world>
</ng-template>


<!-- <div class="title">
  ggg
  <ng-template cdkPortalHost [title]="'xxx'">yyy</ng-template>
</div> -->


<!-- <ng-container [ngTemplateOutlet]="declarativePortalTemplate"></ng-container>

<ng-template #declarativePortalTemplate cdkPortal>
  <p>The content of this template is captured by the portal.</p>
</ng-template> -->

<!-- <ng-container [ngTemplateOutlet]="content"></ng-container> -->



<ng-container [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{title: 'Inspecting context of a ng-template'}"></ng-container>

<ng-template #titleTemplate let-title="title">Kji{{title}}</ng-template>
